@media only screen and (max-width: 992px) {
    .header-navbar .navbar-wrapper .navbar-logo {
        height: 75px;
    }

    .pcoded .pcoded-navbar .pcoded-item {
        margin-top: 30px !important;
    }
}

.wizard>.content>.body {
    position: relative !important;
}